@import url('https://fonts.googleapis.com/css?family=Antic&display=swap');

.btn-primary {
     background-color: #440c5a !important;
     border-color: transparent !important;
     font-family: "Antic",'Times New Roman', Times, serif !important;
}

.card .btn-primary{
    width: 80%;
    margin: auto !important;
    display:block;
}

.card-text{
    height: 32px;
    margin: auto !important;
    display:block;
    text-align: center;
    width: 90%;
    color: aliceblue

}

.btn-primary:hover {
    background-color: rgba(255, 200, 0, 0.92) !important;
    border: 1px solid rgba(255, 200, 0, 0.92)  !important;

}

body{

    background-color: #1e1e1e !important;
    font-family: "Antic",'Times New Roman', Times, serif !important;
    

    

}
h1{

    color: aliceblue !important;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 200, 0, 0.72) !important;
}

.card {
    margin-top: 10% !important;
    font-family: "Antic",'Times New Roman', Times, serif !important;
    background-color: transparent !important;
    border: none !important;

    
}
    
.card img{
    opacity: 0.9;
    border: 6px solid rgba(255, 200, 0, 0.92)  !important;
    
}



.card img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(235, 0, 255, 0.42);

}

