@import url('https://fonts.googleapis.com/css?family=Antic&display=swap');

.btn-primary {
     border-color: transparent !important;
     font-family: "Antic",'Times New Roman', Times, serif !important;
}

.card .btn-primary{
    width: 80%;
    margin: auto !important;
    display:block;
}

.card-text{
    height: 32px;
    margin: auto !important;
    display:block;
    text-align: center;
    width: 90%;
    

}
.player{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29)!important;
    background-color: #fff!important;
    border-radius: 4px;
}

.playlist{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29)!important;
    background-color: #fff!important;
    border-radius: 4px;


}
.table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29)!important;
    background-color: #fff!important;
    border-radius: 4px;


}

.btn-primary:hover {
    background-color: rgba(255, 200, 0, 0.92) !important;
    border: 1px solid rgba(255, 200, 0, 0.92)  !important;

}

body{
    font-family: "Antic",'Times New Roman', Times, serif !important;
    background-color: rgba(50, 50, 50, 0.1);
}

h1{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 200, 0, 0.72) !important;
}

.card {
    margin-top: 10% !important;
    font-family: "Antic",'Times New Roman', Times, serif !important;
    border: none !important;

}

.card-title img{
    opacity: 0.9;
    border: 6px solid rgba(255, 200, 0, 0.92)  !important;
}

.card img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 #007bff, 0 6px 20px 0 #007bff;
}

